<div class="container-fluid h-100 mx-auto back">
	<div class="row justify-content-center h-100 align-items-center">
		<div class="col-10">
			<div class="card less">
				<div class="card-body text-center">
					<div class="container h-100">
						<div class="d-flex justify-content-center h-100">
							<div class="user_card">
								<div class="d-flex justify-content-center">
									<div class="brand_logo_container">
										<img src="../../../../assets/login-logo.jpg" class="brand_logo" alt="Logo">
									</div>
								</div>
								<div class="d-flex justify-content-center form_container">
									<form>
										<div class="input-group mb-3">
											<div class="input-group-append">
												<span class="input-group-text"><i class="fas fa-user"></i></span>
											</div>
											<input type="text"  name="username" [(ngModel)]="usuario.username" class="form-control input_user" placeholder="nombre de usuario">
										</div>
										<div class="input-group mb-3">
											<div class="input-group-append">
												<span class="input-group-text"><i class="fas fa-key"></i></span>
											</div>
											<input type="password"  name="pass" [(ngModel)]="usuario.pass" class="form-control input_pass" placeholder="contraseña">
										</div>
											<div class="d-flex justify-content-center mt-3 login_container">
									 <button type="button" name="button" class="btn login_btn" (click)="verificar()">Entrar</button>
								   </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>
</div>