<div class="row justify-content-around mb-5">
	<button class="btn btn-primary"
	[routerLink]="['/user/details',id]">
		Detalles
	</button>
	<button class="btn btn-primary"
	[routerLink]="['/user/servicios',id]">
		Servicios
	</button>
	<button class="btn btn-primary"
	[routerLink]="['/user/partos',id]">
		Partos
	</button>
</div>

<div class="row justify-content-around">
	<div class="m-4 container-fluid">
		<h2>Listado de Diagnosticos</h2>
		<div class="row justify-content-center">
			<div class="col-11 p-3">
				<div class="table-responsive table-full-width">
					<table class="table table-hover">
						<thead>
							<th>ID</th>
							<th>Fecha</th>
							<th>Dias de Carga</th>
							<th>Costo</th>
							<th>Medico que diagnostico:</th>
							<th>Estado:</th>
							<th>Registrar Parto:</th>
						</thead>
						<tbody >
							<tr *ngFor="let clas of diagnosticos">
								<td>{{clas.IDDiagnostico}}</td>
								<td>{{clas.Fecha | date}}</td>
								<td>{{clas.DiasDeCarga}}</td>
								<td>{{clas.CostoDiagnostico}}</td>
								<td>{{clas.NombreMedico}}</td>
								<td>{{clas.StatusDiagnostico}}</td>
								<td *ngIf="clas.StatusDiagnostico"> 
									<button (click)="openModal(parto,clas.IDDiagnostico)" class="btn btn-primary">
										Registrar
									</button>	
								</td>
								<td *ngIf="!clas.StatusDiagnostico"> 
									No disponible
								</td>
							</tr>	
						</tbody>
					</table>
				
				</div>
			</div>
			<div class="col-11 text-left">
				<button type="button" class="btn btn-primary" (click)="openModal(add)">Agregar</button>
			</div>
		</div>
	</div>
</div>

<ng-template #add>
	<div class="modal-header">
	  <h4 class="modal-title pull-left">Agregar diagnostico</h4>
	  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button>
	</div>
	<div class="modal-body modal-lg">
	  <div class="container">
		  <form [formGroup]="miFormulario" >
			  <div class="row justify-content-left">
				  <div class="col-6" *ngIf="medicos">
					  <label class="text-left col-12">Medico que diagnostica:</label>
					  <mat-form-field appearance="fill">
						  <mat-label>Ingresa medico:</mat-label>
						  <mat-select formControlName="IDMedico">
							  <mat-option *ngFor="let clas of medicos" [value]="clas.idMedico">
								  {{clas.nombre}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-6">
						<label class="col-12">Fecha de diagnostico:</label>
						<mat-form-field appearance="fill">
							<mat-label>Ingresa fecha:</mat-label>
							<input matInput [matDatepicker]="picker1" formControlName="Fecha">
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="col-6">
						<label class="col-12">Descricion:</label>
						<mat-form-field appearance="fill">
							<mat-label>Descripcion del diagnostico:</mat-label>
							<input type="text" matInput placeholder="Ej.1000" formControlName="Descripcion">
						</mat-form-field>
					</div>
					<div class="col-6">
						<label class="col-12">Costo:</label>
						<mat-form-field appearance="fill">
							<mat-label>Ingrese costo del diagnostico:</mat-label>
							<input type="number" matInput placeholder="Ej.1000" formControlName="CostoDiagnostico">
						</mat-form-field>
					</div>
					<div class="col-6">
						<label class="col-12">Dias de carga:</label>
						<mat-form-field appearance="fill">
							<mat-label>Ingrese días:</mat-label>
							<input type="number" matInput placeholder="Ej.1000" formControlName="DiasDeCarga">
						</mat-form-field>
					</div>
					<div class="col-6" *ngIf="medicos">
						<label class="text-left col-12">Resultado de diagnostico:</label>
						<mat-form-field appearance="fill">
							<mat-label>Ingresa Resultado:</mat-label>
							<mat-select formControlName="statusDiagnostico">
								<mat-option [value]="true">
									Gestante
								  </mat-option>
								<mat-option [value]="false">
									Vacia
								  </mat-option>
							  </mat-select>
						  </mat-form-field>
					  </div>
				</div>
			  <div class="row justify-content-end mr-1">
				  <button (click)="modalRef?.hide()" class="col-3 mr-1 btn btn-danger">
					  Cancelar
				  </button>
				  <button class="col-3 btn btn-success" (click)="crear()">
					  Crear
				  </button>
			  </div>
			  
			  <div class="row justify-content-end mr-1">
			  </div>
  
		  </form>
	  </div>
	</div>
  </ng-template>

  <ng-template #parto>
	<div class="modal-header">
	  <h4 class="modal-title pull-left">Registrar parto:</h4>
	  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button>
	</div>
	<div class="modal-body modal-lg">
	  <div class="container">
		  <form [formGroup]="partoForm" >
			  <div class="row justify-content-left">
				<div class="col-6">
					<label class="col-12">Fecha de parto:</label>
					<mat-form-field appearance="fill">
						<mat-label>Ingresa fecha:</mat-label>
						<input matInput [matDatepicker]="picker1" formControlName="fecha">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</div>
				  <div class="col-6" *ngIf="medicos">
					  <label class="text-left col-12">Tipo de Parto:</label>
					  <mat-form-field appearance="fill">
						  <mat-label>Ingresa tipo:</mat-label>
						  <mat-select formControlName="tipoParto">
							  <mat-option  [value]="'Normal'">
									Normal
								</mat-option>
							  <mat-option  [value]="'Aborto'">
									Aborto
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-12">
						<label class="col-12">Observaciones:</label>
						<mat-form-field class="example-full-width" appearance="fill">
							<mat-label>Ingresa observaciones.</mat-label>
							<input type="text" matInput placeholder="Ej.1000" formControlName="observaciones">
						</mat-form-field>
					</div>
				</div>
			  <div class="row justify-content-end mr-1">
				  <button (click)="modalRef?.hide()" class="col-3 mr-1 btn btn-danger">
					  Cancelar
				  </button>
				  <button class="col-3 btn btn-success" (click)="registrarParto()">
					  Crear
				  </button>
			  </div>
			  
			  <div class="row justify-content-end mr-1">
			  </div>
  
		  </form>
	  </div>
	</div>
  </ng-template>